*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: #f2f2f2;
  font-family: 'segoe UI',sans-serif;
  color:#333333,
  
}
.container{
  background-color: #e3f2fd;
  padding:25px;
  width:500px;
  margin:50px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#title{
  
  text-align:center;
  color:#1565c0;
}
#description{
  text-align:center;
  font-weight:bold;
}
#survey-form{
  width:95%;
  font-weight:bold;
  
 

}
#name{
  width:100%;
  padding:4px 0 4px 10px;
  margin-top:6px;
  margin-bottom:20px;
}
#email{
  width:100%;
  padding:4px 0 4px 10px;
  margin-top:6px;
  margin-bottom:20px;
}
#number{
  width:100%;
  padding: 4px 0 4px 10px;
  margin-top:6px;
  margin-bottom:20px;
}
#name:hover,#email:hover,
#number:hover{
  background-color: #fafafa
}
#number-label,#name-label,#email-label{
  
  
 font-weight:bold;
 color:#444;
 font-size:1rem;
 height:40px;

}
#dropdown{
  display:inline-block;
  width:100%;
  padding:4px 0 4px 10px;
  align-items:20px;
  
  margin-top:6px;
  margin-bottom:20px;
  accent-color:#1565c0;
}
.radio-buttons{

  display:flex;
  flex-direction:row;
  align-items:center;
  cursor:pointer;
  gap:10px;
  margin-bottom:20px;
  margin-top:10px;
}
p{
  margin-bottom:10px;
}

input[type='checkbox']{

    
    margin-bottom:20px;
    margin-right:8px;
    cursor:pointer;
}
textarea{
width:100%;
max-width:500px;
height:90px;
padding:10px;
border:1px solid #90caf9;
border-radius:5px;
box-shadow:0 0 5px rgba(0,0,0,.1);
cursor:pointer;
}
#label-comments{
  display:block;
  
  font-weight:bold;
  color:#333333;
  
  

}
#submit{
  display:block;
  background-color:#4caf50;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  width:40%;
  max-width:200px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  padding:8px 30px;
}
#submit:hover{
  background-color:#388e3c;
}

